

nav{
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  ul{
    width: 70%;
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 30px;
    li{
      a{
        text-decoration: none;
      }
    }
  }
  .burger{
  
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  .line{
    width: 40px;
    height: 4px;
    background-color: rgb(40, 39, 39);
    border-radius: 5px;
  }
}
}

.active{
  background-color: coral;
  padding: 10px 20px;


}


.mobileMenu {
  height: 70vh;
  background-color: rgba(128, 128, 128, 0.83);
  width: 100%;
   ul{
    list-style: none;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 50px;
      li {
        a{
          text-decoration: none;
        }
      }
   }
}
